# Virtual Environments
.venv/
venv/
env/

# Python Caches
__pycache__/
*.pyc
*.pyo

# Jupyter Notebooks
.ipynb_checkpoints/

# OS Files
.DS_Store
Thumbs.db

03_linear_classifiers/data/IMDB Dataset.csv